* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NotoSans";
  src: url("/src/assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
}

html,
body {
  height: 100%;
  background-color: #0a143d;
  font-family: "NotoSans", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 80%;
  height: auto;
  background-color: #09153e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-logo-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: 80vw;
  background-color: #212636;
}

#extension {
  width: 150px;
}

.dark-mode {
  display: flex;
  align-items: center;
  background-color: #2f364b;
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.dark-mode:hover {
  border-color: #f25c54;
  background-color: #545969;
}

.extension-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 60px;
  color: white;
}

.container-buttons {
  display: flex;
  gap: 15px;
}

.container-buttons button {
  background-color: #2f364b;
  background-color: none;
  border: 1px solid #545969;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
}

.container-buttons button:hover {
  border-color: #f25c54;
}

.container-buttons button:hover {
  background-color: #545969;
  transition: all 0.3s ease;
}

.container-extensions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.extensions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
}

.extension {
  display: flex;
  color: white;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  background-color: #212636;
  width: 100%;
  border: 1px solid #545969;
  border-radius: 10px;
  padding: 16px;
}

.info-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  padding-bottom: 24px;
}

.info-extension {
  width: 100%;
  gap: 12px;
}

#info {
  color: #c7c7c7;
  font-size: 12px;
}

.button-remove-add {
  width: 100%;
  display: flex;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  justify-content: space-between;
}

.button-remove-add button:hover {
  border-color: #f25c54;
  background-color: #545969;
}

.button-remove-add button {
  border: none;
  background-color: #212636;
  color: white;
  border: 1px solid #545969;
  border-radius: 24px;
  font-size: 12px;
  padding: 10px 24px;
}

switch {
  border: 3px solid #f25c54;
}
