* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-container {
  width: 100vw;
  height: 100vh;
  background-color: #09153e;
  display: flex;
  flex-direction: column;
}

.container-logo-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
  background-color: #212636;
}

#extension {
  width: 150px;
}

.dark-mode {
  display: flex;
  align-items: center;
  background-color: #2f364b;
  padding: 10px;
  border-radius: 5px;
}

.container-extension {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 60px;
  color: white;
}

.container-buttons {
  display: flex;
  gap: 15px;
}

.container-buttons button {
  border: none;
  background-color: #2f364b;
  background-color: none;
  border: 1px solid #545969;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.container-buttons button:hover {
  background-color: #545969;
}
